<!DOCTYPE html>
<html>

<head>
    <title>Track Water</title>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="loader" class="preloader-wrapper hide active">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div id="overlay" class="hide grey"></div>
    <div class="container-fluid">
        <div class="navbar-fixed">
            <nav class="nav-extended pink darken-4">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Track Water</a>
                </div>
                <div class="nav-content">
                    <ul id="navbar-tab" class="tabs tabs-transparent white-text">
                        <li class="tab"><a href="#list">List</a></li>
                        <li class="tab"><a href="#add">Add</a></li>
                        <li class="tab"><a href="#summary">Summary</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="list" class="col s12 mt-5">
            <div class="container">
                <div class="input-field col s8">
                    <select>
                        <option value="1">January</option>
                        <option value="2">Feburary</option>
                        <option value="3">March</option>
                    </select>
                    <label>Select Month</label>
                </div>
                <div class="col s12">
                    <blockquote><span class="text-bold">Total Can :</span> 10 x 35 : 350rs</blockquote>
                </div>
                <div class="row card-panel blue lighten-4 z-depth-2">
                    <div class="col s4">
                        <span class="text-bold">Date:</span>
                        <br>
                        <span>Jun 21, 2019</span>
                    </div>
                    <div class="col s4">
                        <span class="text-bold">By:</span>
                        <br>
                        <span>Manoj</span>
                    </div>
                    <div class="col s4">
                        <span class="text-bold">Count:</span>
                        <br>
                        <span>2</span>
                    </div>
                </div>
                <div class="row card-panel blue lighten-4 z-depth-2">
                    <div class="col s4">
                        <span class="text-bold">Date:</span>
                        <br>
                        <span>Jun 21, 2019</span>
                    </div>
                    <div class="col s4">
                        <span class="text-bold">By:</span>
                        <br>
                        <span>Manoj</span>
                    </div>
                    <div class="col s4">
                        <span class="text-bold">Count:</span>
                        <br>
                        <span>2</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="add" class="col s12 mt-5">
            <div class="container">
                <form id="add-can">
                    <div class="input-field col s12">
                        <input id="date" type="text" class="datepicker">
                        <label for="date">Date</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="count" type="number">
                        <label for="count">Count</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="by">
                            <option value="ashok">Ashok</option>
                            <option value="barath">Barath</option>
                            <option value="kaushik">Kaushik</option>
                            <option value="manoj">Manoj</option>
                            <option value="ranjith">Ranjith</option>
                            <option value="soma">Soma</option>
                            <option value="velayutham">Velayutham</option>
                            <option value="water-supplier">Water Supplier</option>
                        </select>
                        <label>Select Guy</label>
                    </div>
                    <div class="input-field col s12 right">
                        <button class="btn waves-effect waves-light" type="button" name="action" onclick="addCan()">Add
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="summary" class="col s12 mt-5">Summary page</div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>