.brand-logo {
    font-size: 24px !important;
    left: 20% !important;
}

.mt-5 {
    margin-top: 5rem;
}
.text-bold {
    font-weight: bold;
}
#loader {
    position: fixed;
    top : 30%;
    left : 40%;
    z-index: 998;
}
#overlay {
    position: fixed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.bahubali-img {
    top: 25px;
    height: 50px !important;
    width: 50px !important;
}
.collection .collection-item.avatar .secondary-content {
    top: 30px !important;
}